/* Add these styles to your CSS or stylesheet */
.green-button {
  background-color: rgb(195, 24, 24);
  color: white;
}

.yellow-button {
  background-color: yellow;
  color: black;
}


/* Add these classes to your CSS file */
.active-status {
  color: green;
}

.inactive-status {
  color: #FF5733;
}

/* Add a new class for the second table */
.second-table {
  background-color: lightblue; /* Define the background color you want */
  /* Add any other styling as needed */
}

