
.tabl {
  margin: 20px;
}

.text1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th {
  background-color: #343a40;
  color: #fff;
  font-weight: bold;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #cce5ff;
}

.btn {
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.btn-warning {
  background-color: #ffc107;
  color: #212529;
  border: 1px solid #ffc107;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: 1px solid #dc3545;
}

.button-container {
  display: flex;
  justify-content: space-between; 
}

.button-container a {
  margin-right: 10px; 
}

